.header {
  width: 100%;
<<<<<<< HEAD
  height: 100vh;
=======
>>>>>>> 1f2c5b109f7df7687dfde1c80549669d894d6a3f
  background-image: url(../../images/EFstweTWoAAYmJi.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  background-size: cover;
  background-position: center;
  margin: auto;
  display: flex;
  position: relative;
}

<<<<<<< HEAD
@media all and (max-width: 768px) {
=======


@media all and (max-width: 768px) {

>>>>>>> 1f2c5b109f7df7687dfde1c80549669d894d6a3f
  .header:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 5;
  }
}

<<<<<<< HEAD
@media all and (max-width: 455px) {
  .header {
    height: 500px;
  }
}
=======

@media all and (max-width: 455px) {

    .header {
        height: 500px;
    }
  }
  
>>>>>>> 1f2c5b109f7df7687dfde1c80549669d894d6a3f
