.header__slider-caption {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 25px;
<<<<<<< HEAD
    font-family: Arial, Helvetica, sans-serif;
=======
>>>>>>> 1f2c5b109f7df7687dfde1c80549669d894d6a3f
}

@media all and (max-width: 771px) {
    .header__slider-caption {
        font-size: 18px;
    }
}


@media all and (max-width: 620px) {
    .header__slider-caption {
        font-size: 15px;
    }
}


@media all and (max-width: 455px) {
    .header__slider-caption {
        font-size: 14px;
    }
}

@media all and (max-width: 416px) {
    .header__slider-caption {
        font-size: 11px;
    }
}

@media all and (max-width: 356px) {
    .header__slider-caption {
        font-size: 10px;
    }
}