.header__box-contact {
    max-width: 250px;
    height: 50px;
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
    text-align: center;
<<<<<<< HEAD
    font-family: Arial, Helvetica, sans-serif;
=======
>>>>>>> 1f2c5b109f7df7687dfde1c80549669d894d6a3f
}

@media all and (max-width: 900px) {
    .header__box-contact {
        font-size: 18px;
    }
}


@media all and (max-width: 768px) {
    .header__box-contact {
        display: none;
    }
}