.header__list {
    display: none;
    padding-inline-start: 0px;
    margin: 0;
    margin-left: 10px;
<<<<<<< HEAD
    font-family: Arial, Helvetica, sans-serif;
=======
>>>>>>> 1f2c5b109f7df7687dfde1c80549669d894d6a3f
}

@media all and (max-width:768px) {
    .header__list {
        display: block;
    }
}

.header__list li{
list-style: none;
margin:  0px 0px 20px 0px;
}